/*TABLE VIEW*/
.table-view .text-field{
    -fx-background-color: #e7ebff;
    -fx-background-radius: 25px;
    -fx-border-color: #022757;
    -fx-border-radius: 25px;
}

.text-field{
    -fx-background-color: #e7ebff;
    -fx-background-radius: 25px;
    -fx-border-color: #022757;
    -fx-border-radius: 25px;
}

.table-cell {
    -fx-alignment: CENTER;
}


.table-view .placeholder {
    -fx-background-color: #e7ebff;
}

.table-view .column-header-background .nested-column-header .table-column {
    -fx-background-color: #C6D8FF;
}

.table-row-cell {
    -fx-background-color: #e7ebff;
}

.table-row-cell:selected {
    -fx-background-color: blue;
}